@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body {
	padding:10px;
	background-image: url(../svg/wallpaper.svg);	
	no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	color:white;
  		
}


footer {
    
    height: 100px;
    bottom: 0;
    width: 100%;
   
}


a {
	color:white;
}


p {
	color:white;
}

.fa {
	height:1.5em;
    color:white;
    margin:auto;
}

a:hover{
	color:white;
}

#credits{
	color:white;
	font-size:8px;
}

.titles{
	text-align:center;
}

#title {
	text-align:center;
	font-size: 10em;
}