<div class="container">

<div class='container'>
  <h1 class="titles">About Me</h1>
  <div class="container">
  	<div class="row">
  		<div>
  			<img src="image/sam.jpg" alt="" width="300px" height="300px" id="photo">
  			<br>
  			<p>I’m a University of Washington Informatics students graduating in 2017. I have a wide variety of experiences due to the fact that I have officially switched my major 3 times! I started off as a pre-pharm student, switched to chemical engineering, and finally settling on informatics with a specialization in human computer interaction and cybersecurity.</p>
  			<br>
			<p>Outside of school, I’m involved in a wide variety of activities. I do it all, whether it’s running Husky Nation, a group that puts on collegiate guinness world records here at the UW, playing pickup at the IMA, late night gaming sessions, and even pursuing my own entrepreneurial ventures. </p>
			<br>
			<p>My current goal is to become a project/product manager, and so I’ll be updating this site with the latest projects I have completed as well as the ones that I’m working on. Currently, HuskyNation is working with the UW to put on a Guinness World record to unite all three campus’. We are also working with the UW drama department to raise funds for the 450th anniversary of Shakespeare's death.</p>
</div>


</div>